services:
  prometheus:
    image: prom/prometheus:v2.54.1
    container_name: metanetops-prometheus
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:11.2.0
    container_name: metanetops-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - prometheus

  bgp_exporter:
    build: ./exporter
    container_name: metanetops-bgp-exporter
    ports:
      - "9109:9109"
    environment:
      - EXPORTER_PORT=9109
